<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>

  <!-- Service Model -->
  <system.serviceModel>
    <services>
      <service name="Com.Pinz.Server.TaskService.TaskService">
        <endpoint address="/service"
                  binding="basicHttpBinding"
                  contract="Com.Pinz.Server.TaskService.ITaskService"/>
      </service>
      <service name="Com.Pinz.Server.TaskService.CategoryService">
        <endpoint address="/service"
                  binding="basicHttpBinding"
                  contract="Com.Pinz.Server.TaskService.ICategoryService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name = "Internet">
          <serviceCredentials>
            <serviceCertificate
            findValue = "MyServiceCert"
            storeLocation = "LocalMachine"
            storeName = "My"
            x509FindType = "FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" >
      <serviceActivations>
        <add relativeAddress="TaskService.svc" service="Com.Pinz.Server.TaskService.TaskService" factory="Ninject.Extensions.Wcf.NinjectServiceHostFactory"/>
        <add relativeAddress="CategoryService.svc" service="Com.Pinz.Server.TaskService.CategoryService" factory="Ninject.Extensions.Wcf.NinjectServiceHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <wsHttpBinding>
        <binding name="UserNameWS">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

  <!--Web Server-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!--  Database settings 
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  -->
  <connectionStrings>
    <add name="pinzDBConnectionString"
    connectionString="Server=tcp:pinzwedbserver.database.windows.net,1433;Database=pinzDevWeDb;User ID=pinzwedbserveradmin@pinzwedbserver;Password=UwE'a##3pcum?S:4;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>